<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <body>
        <form method="POST" action="/upload" enctype='multipart/form-data'>
            <div class="file">
                Upload PNRs
                <input type="file" name="files" value="pnr">
            </div>

            <div class="file">
                Upload Flights
                <input type="file" name="files">
            </div>
          <input class="rnd-btn" type="submit" value="Allocate">
        </form>
    </body>
</html>
