* {
  overflow: hidden;
  font-family: courier;
  font-size: 15px;
  text-align: center;
}

.file {
    padding-bottom: 80px;
}

.rnd-btn {
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 15px;
}
